/*Variables */
$color-withe: white;

/* Estilos para el contenedor principal */
.container-texto {
    align-items: flex-start;
    justify-content: center;
    //position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(200%);
    text-align: left;
    padding-left: 20%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;
}


/* Estilos para el texto "Developer" */
h1,h3{
  font-weight: bold;
  margin-bottom: 10px;
}
h3 {
    font-size: 24px;
}

/* Estilos para el nombre "Rogger Lindao" */
h1 {
    font-size: 48px;
    color: $color-withe;
}

/* Estilos para el texto "Lo imposible es solo el comienzo" */
h3.caveat {
    font-family: 'Caveat';
    font-size: 35px;
    margin-bottom: 10px;
    color: $color-withe;
}

.dev{
    color: #F24726;
}
.texInicio{
   margin-bottom: -24px;
}

.img-perfil{
    float: right;
      width: 25%;
      margin-left: 0px;
      padding-right: 30vh;
      padding-top: 20vh;
}

.img-icon{
  border: 10px;
  width: 15%;
  padding-left: 10%;
}

.img-icon:hover{
  transform: scale(1.5); /* Agranda el ícono en hover */
  z-index: 10; /* Asegúrate de que el ícono hover esté por encima de los demás */
  transition: 0.5s;
}

.img-icon:active{
  transform: scale(1.2); /* Agranda el ícono en hover */
  z-index: 10;
}

.container-icon
{
  padding-top: 5%;
}

.icon{
  text-align: center;
  width: 20%;
  padding-left: 37%;
}

.container-presentacion{
height: 220px;
display: flex;
justify-content: center;
padding-top: 10%;
}
.presentacion{
  width: 40%;
  height: 100px;
}

.texto-presentacion{
  width: 80%;
  height: 50px;
  color: $color-withe;
  text-align: justify;
}
.img-icon-presentacion{
  width: 10%;
  height: 200px;
}

.rotating-face-container{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  position:relative;
  perspective: 1000px;
  padding-left: 43%;
  padding-top: 10%;
}

.rotating-face {
  width: 100%;
  height: 110%;
  transition: transform 0.3s;
}

.rotating {
  transform: rotateY(68deg);
}

@keyframes rowDown {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-9px);
	}

	20%,
	40%,
	60% {
		transform: translateY(9px);
	}

	80% {
		transform: translateY(7.4px);
	}

	90% {
		transform: translateY(-7.4px);
	}
}

.botones-proyectos{
position: absolute;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

/* PROYECTOS */

#proyectos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
}

.conten-center-proyectos{
  margin-top: 25px;
  height: 600px;
  width: 70%;
}

.container-cards{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 600px;
}
.card{
  width: 38%;
}
.img-card{
  width: 90%;
  height: 300px;
  margin: 5%;
  border-radius: 10%;
  border: 1px solid $color-withe;
}
.content-card{
  width: 100%;
  height: 300px;
  color: $color-withe;
  text-align: justify;
  line-height: 2;
}

.title-content-card{
  text-align: center;
}

.card-back
{
  opacity: 100;
  transform: perspective(4000px) rotateY(-50deg);
  transition: 0.5s;
}
.card-actual
{
  opacity: 100;
  transition: 0.5s;
}
.card-front
{
  opacity: 100;
  transform: perspective(4000px) rotateY(50deg);
  transition: 0.5s;
}

// ANIMACION DERECHA
.card.animado_back,
.card.animado_actual,
.card.animado_front
{
  opacity: 0;
  transition: 0.5s;
}
.card.animado_back{
  transform:translateX(-72px) perspective(3950px) rotateY(-60deg);
}
.card.animado_actual{
  transform:translateX(-72px) perspective(3950px);
}
.card.animado_front{
  transform:translateX(-72px) perspective(3950px) rotateY(40deg);
}


//ANIMACION IZQUIERDA
.card.animadoI_back,
.card.animadoI_actual,
.card.animadoI_front{
  opacity: 0;
  transition: 0.5s;
}

.card.animadoI_back{
  transform:translateX(72px) perspective(3950px) rotateY(-40deg);
}
.card.animadoI_actual{
  transform:translateX(72px) perspective(3950px);
}
.card.animadoI_front{
  transform:translateX(72px) perspective(3950px) rotateY(60deg);
}

/* CONTACTAME */

#contactame,
.iconos-contactos,
.contactame-item{
  display: flex;
}

#contactame{
  align-items: center;
  justify-content: center;
  margin-top: 550px;
}
.contactame-column{
  width: 50%;
  color: $color-withe;
}

.iconos-contactos{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-icon-contacto{
  width: 100px;
  margin: 20px 20px;
}

.contactame-item{
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.item-whatsapp:hover{
  filter: brightness(1.55);
  transition: 0.5s
}

/* FORMULARIO */
form,
.formulario-contacto,
.form-group{
  display: flex;
}
form{
  flex-direction: column;
  align-items:end;
}

.formulario-contacto{
  flex-direction: row;
}
.form-group{
  flex-direction: row;
  justify-content: end;
  margin: 15px 0px;
  input{
    width: 300px;
  }
  textarea{
    width: 304px;
    height: 150px;
  }
}

.arow{
  width: 10vh;
  margin: 20px 20px;
  color: $color-withe;
  padding: 0%;
  height: 50%;
}
.img-icon-arow:active{
  transform: scale(0.5);/* disminuye tamanio el ícono en hover */
  transition: 0.5s;
}

/* TAMANIO PANTALLA */

 /*Escritorio*/
 @media (min-width: 1199.98px)  {
}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 1199.98px) and (orientation:portrait) {

  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  /*Seccion INICIO*/
  .row{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .img-perfil{
    float: right;
      width: 25%;
      margin-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
}

.container-inicio{
  height: 40vh;
}
  .container-texto{
    align-items: flex-start;
    justify-content: center;
    top: 50%;
    left: 10%;
    transform: none;
    text-align: left;
    padding-left: 0px;
  }

  /* BARRA DE ICONOS */
      /*Barra de iconos*/
      .container-icon{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    .icon{

      //background-color: aliceblue;
      text-align: center;
      width: 40%;
      padding-left: 0%;
    }

    /*Quien soy presentacion*/
    .container-presentacion{
      height: 220px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding-top: 10%;
    }

    .presentacion{
      width: 60%;
      height: 100px;
    }
    .texto-presentacion{
      width: 80%;
      height: 50px;
    }
    .img-icon-presentacion{
      width: 20%;
    }
    .rotating-face{
      width: initial;
    }

    .rotating-face-container{
      height: 15vh;
      width: 100%;
      position:relative;
      perspective: 300px;
      padding-left: 0%;
      padding-top: 5vh;
    }

    #contactame{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 60%;
      width: 100%;
    }
    .contactame-item{
      flex-direction: row;
      width: 27vh;
    }


    .iconos-contactos,
    .formulario-contacto,
    .form-group{
      flex-direction: column;
    }
    .contactame-column{
      width: 45%;
    }
}

/*landscape*/
@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  /*Seccion INICIO*/
  .row{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .img-perfil{
    float: right;
      width: 25%;
      margin-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
}

.container-inicio{
  height: 80vh;
}
  .container-texto{
    align-items: flex-start;
    justify-content: center;
    top: 50%;
    left: 10%;
    transform: none;
    text-align: left;
    padding-left: 0px;
  }

  /* BARRA DE ICONOS */
      /*Barra de iconos*/
      .container-icon{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    .icon{

      //background-color: aliceblue;
      text-align: center;
      width: 40%;
      padding-left: 0%;
    }

    /*Quien soy presentacion*/
    .container-presentacion{
      height: 220px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding-top: 10%;
    }

    .presentacion{
      width: 60%;
      height: 100px;
    }
    .texto-presentacion{
      width: 80%;
      height: 50px;
    }
    .img-icon-presentacion{
      width: 20%;
    }
    .rotating-face{
      width: initial;
    }

    .rotating-face-container{
      height: 15vh;
      width: 100%;
      position:relative;
      perspective: 300px;
      padding-left: 0%;
      padding-top: 5vh;
    }

    #contactame{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 30%;
      width: 100%;
    }
    .contactame-item{
      flex-direction: row;
      width: 27vh;
    }
    .iconos-contactos,
    .formulario-contacto,
    .form-group{
      flex-direction: column;
    }
    .contactame-column{
      width: 45%;
    }
}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {

  .grid-container,
  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    .grid-container {

      padding: 10px;
    }
    .row{
      text-align: center;
    }

    .img-perfil{
        float: left;
        width: 80%;
        margin-left: 0px;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 0%;

    }

  /* Estilos para el contenedor principal */
  .container-texto {
    align-items: flex-start;
    justify-content: center;
    //position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(0%);
    text-align: left;
    padding-left: 0%;
  }

  .container-texto h3{
    font-size: 25px;
    text-align: center;
  }
  .container-texto h1{
    font-size: 35px;
    text-align: center;
  }

    /*Barra de iconos*/
    .container-icon{
      padding-top: 40%;
    }
  .icon{

    //background-color: aliceblue;
    text-align: center;
    width: 100%;
    padding-left: 0%;
  }

  /*Quien soy presentacion*/
  .container-presentacion{
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20%
  }

  .presentacion{
    width: 100%;
    height: 100px;
  }
  .texto-presentacion{
    width: 100%;
    height: 50px;
  }
  .img-icon-presentacion{
    width: 100%;
    height: 30vh;
    padding-top: 40%;
  }
  .rotating-face{
    width: 50%;
  }

  .rotating-face-container{
    height: 200px;
    width: 100%;
    position:relative;
    perspective: 200px;
    padding-left: 0%;
    padding-top: 0%;
  }

  /*Proyectos*/
  .conten-center-proyectos{
    width: 100%;
  }
  .card-back,
  .card-front{
    display: none;
  }

  .img-card,
  .content-card{
    width: 100%;
    height: 50%;
  }
  .img-card{

    margin: 0%;
  }
  .content-card{
    line-height: 1.5;
  }

  .card-actual,
  #contactame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-actual{
    width: 100%;
  }

  #contactame{
    margin-top: 30vh;
  }
  .contactame-item,
  .iconos-contactos,
  .formulario-contacto,
  .form-group{
    flex-direction: column;
  }
  .contactame-column{
    width: 100%;
  }

}

/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {

  .grid-container,
  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grid-container {

    padding: 10px;
  }

  .row{
    text-align: center;
  }

  .img-perfil{
      float: left;
      width: 50%;
      margin-left: 0px;
      padding-left: 0%;
      padding-right: 0%;
      padding-top: 0%;
}

/* Estilos para el contenedor principal */
.container-texto {
  align-items: flex-start;
  justify-content: center;
  top: 50%;
  left: 10%;
  transform: translateY(0%);
  text-align: left;
  padding-left: 0%;
}

.container-texto h3{
  font-size: 25px;
  text-align: center;
}
.container-texto h1{
  font-size: 35px;
  text-align: center;
}

  /*Barra de iconos*/
  .container-icon{
    padding-top: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
.icon{

  //background-color: aliceblue;
  text-align: center;
  width: 50%;
  padding-left: 0%;
}

/*Quien soy presentacion*/
.container-presentacion{
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20%
}

.presentacion{
  width: 100%;
  height: 100px;
}
.texto-presentacion{
  width: 100%;
  height: 50px;
}
.img-icon-presentacion{
  width: 100%;
  height: 30vh;
  padding-top: 20vh;
}
.rotating-face{
  width: 15%;
}

.rotating-face-container{
  height: 200px;
  width: 100%;
  position:relative;
  perspective: 200px;
  padding-left: 0%;
  padding-top: 20vh;
}

.card-back,
.card-front{
  display: none;
}

.img-card{
  width: 150%;
  height: 50%;
  margin: 0%;
}

.content-card{
  width: 200%;
  height: 50%;
  line-height: 1.5;
}
.card-actual,
#contactame{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-actual{
  width: 100%;
}

#contactame{
  margin-top: 30vh;
}
.contactame-item,
.iconos-contactos,
.formulario-contacto,
.form-group{
  flex-direction: column;
}
.contactame-column{
  width: 100%;
}
}
/*fin movil*/
