
<nav class="scrollable-container">
  <div class="menu-icon" (click)="toggleMenu()">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  <div class="back" [class.active]="menuActive" (click)="toggleMenu()"></div>
  <div class="sidebar" [class.active]="menuActive">
    <ul>
      <li><p (click)="navegar('index')">INICIO</p></li>
      <li><p (click)="navegar('quiensoy')">SOBRE MI</p></li>
      <li><p  (click)="navegar('proyectos')">PROYECTOS</p></li>
      <li><p  (click)="navegar('contactame')">CONTACTO</p></li>
    </ul>
  </div>

    <div class="menu-container">
        <ul class="menu">
            <li><p (click)="navegar('index')">INICIO</p></li>
            <li><p (click)="navegar('quiensoy')">SOBRE MI</p></li>
            <li><p  (click)="navegar('proyectos')">PROYECTOS</p></li>
            <li><p  (click)="navegar('contactame')">CONTACTO</p></li>
        </ul>
    </div>
<!--
    <div class="pagination-container">
        <div class="pagination-circle active"></div>
        <div class="pagination-circle"></div>
        <div class="pagination-circle"></div>
        <div class="pagination-circle"></div>
    </div>
    -->
    <router-outlet></router-outlet>
</nav>




