
<nav class="scrollable-container">
  <div class="menu-icon" (click)="toggleMenu()">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  <div class="sidebar" [class.active]="menuActive">
    <ul>
      <li><a href="/comp-inicio#index">INICIO</a></li>
      <li><a href="/comp-inicio#quiensoy">SOBRE MI</a></li>
      <li><a href="/comp-inicio#proyectos">PROYECTOS</a></li>
      <li><a href="/comp-inicio#contactame">CONTACTO</a></li>
    </ul>
  </div>

    <div class="menu-container">
        <ul class="menu">
            <li><a href="/comp-inicio#index">INICIO</a></li>
            <li><a href="/comp-inicio#quiensoy">SOBRE MI</a></li>
            <li><a href="/comp-inicio#proyectos">PROYECTOS</a></li>
            <li><a href="/comp-inicio#contactame">CONTACTO</a></li>
        </ul>
    </div>
<!--
    <div class="pagination-container">
        <div class="pagination-circle active"></div>
        <div class="pagination-circle"></div>
        <div class="pagination-circle"></div>
        <div class="pagination-circle"></div>
    </div>
    -->
    <router-outlet></router-outlet>
</nav>




